body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(photo.jpg);
    background-size: cover;
    background-position: center;
    color: #fff !important;
}


.services{
    margin: 90px auto;
    text-align: center;
}

h1{
    font-family: sans-serif;
    letter-spacing: 1px;
}

h1:after{
    content: "";
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}

.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 15px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

.col-md-3:hover{
    box-shadow: 5px 7px 9px -3px rgba(255,255,255);
    transition: 0.6s;
    cursor: pointer;
}

a.col-md-3{
    text-decoration: none;
    color: white;
}

a.col-md-3:hover{
    text-decoration: none;
    color: rgb(180, 175, 175);
}


.eleven h1 {
    font-size:53px;text-align:center; line-height:1.5em; padding-bottom:45px; font-family:"Playfair Display", serif; text-transform:uppercase;letter-spacing: 2px; color:rgb(255, 248, 248);
  }
  
  
  .eleven h1:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left:50%; margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #777; z-index: 4;
  }
  .eleven h1:after {
    position:absolute;
    width:40px; height:40px; left:50%; margin-left:-20px; bottom:0px;
    content: '\00a7'; font-size:30px; line-height:40px; color:#c50000;
    font-weight:400; z-index: 5;
    display:block;
    background-color:#f8f8f8;
  }

.intro p {
    margin-left: 17%;
    width: 65%;
    font-size: 25px;
}
  
.navigation {
    float: right;
    height: 20%;
    padding-top: 16px;
  }
  
  .navigation a {
    height: 10%;
    display: table;
    text-decoration: none;
    float: left;
    padding: 10px 20px;
  }
  
  .navigation a:last-child {
    margin-right: 42px;
  }
  
  .navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: aliceblue;
  }
  
  .navigation a:hover {
    background-color: black;
    border-radius: 10px;
    transition: 0.35s;
  }